# dependencies
node_modules/
/vendor/

# build
/build
/dist

# env files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/system files
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
